{layout name="layout" /}

<style>
/*.info-list*/
.info-list >ul >li {border-bottom: 1px solid #eee;line-height: 40px;}
.info-list >ul >li >span {float: right;}
/** 统计快捷方式样式 */
.console-link-block {font-size: 16px;padding: 20px 20px;border-radius: 4px;background-color: #9BC539;color: rgba(255, 255, 255, .8);box-shadow: 0 2px 3px rgba(0, 0, 0, .05);position: relative;overflow: hidden;}
.console-link-block .console-link-block-num {font-size: 40px;margin-bottom: 5pxcolor: rgba(255, 255, 255, .9);}
.console-link-block .console-link-block-icon {position: absolute;top: 50%;right: 20px;width: 50px;height: 50px;font-size: 50px;line-height: 50px;margin-top: -25px;color: rgba(255, 255, 255, .65);}
.console-link-block .console-link-block-band {width: 80px;line-height: 1;padding: 4px 0;font-size: 12px;text-align: center;background-color: #E32A16;color: rgba(255, 255, 255, .8);position: absolute;top: 8px;right: -20px;transform: rotate(45deg);transform-origin: center;z-index: 1;}

/** 设置每个快捷块的颜色 */
.layui-row > div:nth-child(2) .console-link-block {background-color: rgb(85, 165, 234);}
.layui-row > div:nth-child(3) .console-link-block {background-color: rgb(157, 175, 291);}
.layui-row > div:nth-child(4) .console-link-block {background-color: rgb(245, 145, 162);}
.layui-row > div:nth-child(5) .console-link-block {background-color: rgb(254, 170, 79);}
.layui-row > div:last-child .console-link-block {background-color: rgb(64, 212, 176);}
</style>

<body>
<!-- 正文开始 -->
<div class="layui-fluid ew-console-wrapper">

<!-- 用户欢迎信息 -->
<blockquote class="layui-elem-quote">
    上线日期：2020-03-18 &nbsp; 服务剩余天数：320天
</blockquote>

<!-- 快捷方式 -->
<div class="layui-row layui-col-space15">
    <div class="layui-col-lg2 layui-col-sm2 layui-col-xs6">
        <div class="console-link-block" ew-href="page/system/user.html" ew-title="产品中心">
            <div class="console-link-block-num">15</div>
            <div class="console-link-block-text">产品中心</div>
            <i class="console-link-block-icon layui-icon layui-icon-diamond"></i>
        </div>
    </div>
    <div class="layui-col-lg2 layui-col-sm2 layui-col-xs6">
        <div class="console-link-block" ew-href="page/system/role.html" ew-title="文章中心">
            <div class="console-link-block-num">13</div>
            <div class="console-link-block-text">文章中心</div>
            <i class="console-link-block-icon layui-icon layui-icon-read"></i>
        </div>
    </div>
    <div class="layui-col-lg2 layui-col-sm2 layui-col-xs6">
        <div class="console-link-block" ew-href="page/system/authorities.html" ew-title="相册中心">
            <div class="console-link-block-num">22</div>
            <div class="console-link-block-text">相册中心</div>
            <i class="console-link-block-icon layui-icon layui-icon-picture-fine"
               style="font-size: 62px;padding-right: 5px;"></i>
        </div>
    </div>
    <div class="layui-col-lg2 layui-col-sm2 layui-col-xs6">
        <div class="console-link-block" ew-href="page/system/loginRecord.html" ew-title="询盘信息">
            <div class="console-link-block-num">18</div>
            <div class="console-link-block-text">询盘信息</div>
            <i class="console-link-block-icon layui-icon layui-icon-dialogue"></i>
        </div>
    </div>
    <div class="layui-col-lg2 layui-col-sm2 layui-col-xs6">
        <div class="console-link-block" ew-href="page/plugin/basic/dialog.html" ew-title="关键词库">
            <div class="console-link-block-num">11</div>
            <div class="console-link-block-text">关键词库</div>
            <i class="console-link-block-icon layui-icon layui-icon-form"></i>
            <div class="console-link-block-band">去查看</div>
        </div>
    </div>
    <div class="layui-col-lg2 layui-col-sm2 layui-col-xs6">
        <div class="console-link-block" ew-href="page/plugin/basic/notice.html" ew-title="上线关键词">
            <div class="console-link-block-num">26</div>
            <div class="console-link-block-text">上线关键词</div>
            <i class="console-link-block-icon layui-icon layui-icon-chart-screen"></i>
            <div class="console-link-block-band">去查看</div>
        </div>
    </div>
</div>
<!-- 统计图表 -->
<div class="layui-row layui-col-space15">
    <div class="layui-col-md4 layui-col-sm6 layui-col-xs12">
        <div class="layui-card">
            <div class="layui-card-header"><b>服务记录</b></div>
            <div class="layui-card-body">
                <div class="info-list">
                    <ul>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="http://www.baidu.com" ew-title="服务记录">添加了文章：仿古瓦的原料及其制备过程介绍</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：水泥彩瓦有气泡的解决方式</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：水泥瓦在施工时要注意什么？</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：仿古瓦的原料及其制备过程</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：水泥彩瓦有气泡的解决方式</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：水泥瓦在施工时要注意什么？</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：仿古瓦的原料及其制备过程</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：水泥彩瓦有气泡的解决方式</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：水泥瓦在施工时要注意什么？</a></li>
                        <li class="layui-elip"><span>2019-03-18</span><a ew-href="" ew-title="服务记录">添加了文章：仿古瓦的原料及其制备过程</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-col-md8 layui-col-sm6 layui-col-xs12">
        <div class="layui-card">
            <div class="layui-card-header"><b>访问地区分布</b></div>
            <div class="layui-card-body">
                <div id="visited-map" style="height: 410px;"></div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- 加载动画 -->
<div class="page-loading">
<div class="ball-loader">
    <span></span><span></span><span></span><span></span>
</div>
</div>
<!-- js部分 -->
<script type="text/javascript" src="__PUBLIC__/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/assets/js/common.js?v=316"></script>
<script src="__PUBLIC__/assets/libs/echarts/echarts.min.js"></script>
<script src="__PUBLIC__/assets/libs/echarts/china.js"></script>
<script>
layui.use(['layer'], function () {
    var $ = layui.jquery;
    var layer = layui.layer;

    function randomValue() {
        return Math.round(Math.random()*1000);
    }
    var dataList=[
        {name:"南海诸岛",value:0},
        {name: '北京', value: randomValue()},
        {name: '天津', value: randomValue()},
        {name: '上海', value: randomValue()},
        {name: '重庆', value: randomValue()},
        {name: '河北', value: randomValue()},
        {name: '河南', value: randomValue()},
        {name: '云南', value: randomValue()},
        {name: '辽宁', value: randomValue()},
        {name: '黑龙江', value: randomValue()},
        {name: '湖南', value: randomValue()},
        {name: '安徽', value: randomValue()},
        {name: '山东', value: randomValue()},
        {name: '新疆', value: randomValue()},
        {name: '江苏', value: randomValue()},
        {name: '浙江', value: randomValue()},
        {name: '江西', value: randomValue()},
        {name: '湖北', value: randomValue()},
        {name: '广西', value: randomValue()},
        {name: '甘肃', value: randomValue()},
        {name: '山西', value: randomValue()},
        {name: '内蒙古', value: randomValue()},
        {name: '陕西', value: randomValue()},
        {name: '吉林', value: randomValue()},
        {name: '福建', value: randomValue()},
        {name: '贵州', value: randomValue()},
        {name: '广东', value: randomValue()},
        {name: '青海', value: randomValue()},
        {name: '西藏', value: randomValue()},
        {name: '四川', value: randomValue()},
        {name: '宁夏', value: randomValue()},
        {name: '海南', value: randomValue()},
        {name: '台湾', value: randomValue()},
        {name: '香港', value: randomValue()},
        {name: '澳门', value: randomValue()}
    ]
    var myChart = echarts.init(document.getElementById('visited-map'));
    
    option = {
        tooltip: {
            formatter:function(params,ticket, callback){
                return params.seriesName+'<br />'+params.name+'：'+params.value
            }//数据格式化
        },
        visualMap: {
            min: 0,
            max: 1500,
            left: 'left',
            top: 'bottom',
            text: ['高','低'],//取值范围的文字
            inRange: {
                color: ['#e0ffff', '#006edd']//取值范围的颜色
            },
            show:true//图注
        },
        geo: {
            map: 'china',
            roam: false,//不开启缩放和平移
            zoom:1.25,//视角缩放比例
            label: {
                normal: {
                    show: true,//是否显示地图上的城市名
                    fontSize:'12',
                    color: 'rgba(0,0,0,0.7)'
                }
            },
            itemStyle: {
                normal:{
                    borderColor: '#fff'
                },
                emphasis:{
                    areaColor: '#F3B329',//鼠标选择区域颜色
                    shadowOffsetX: 0,
                    shadowOffsetY: 0,
                    shadowBlur: 20,
                    borderWidth: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        },
        series : [
            {
                name: '访问量',
                type: 'map',
                geoIndex: 0,
                data:dataList
            }
        ]
    };
    myChart.setOption(option);
    myChart.on('click', function (params) {
        console.log(params);
        alert(params.name);
    });

    // 窗口大小改变事件
    window.onresize = function () {
        myChart.resize();
    };

});
</script>
</body>

</html>